/* yali */
img{
    height: auto;
}
.rollUpBanner {
    display: inline-block;
}
.rollUpBanner img{
    width: 250px;
}
.rollUpUse{
    width: 100%;
}

.backdropBanner{
    display: inline-block;
}
.backdropBanner img{
    width: 250px;
}
.backdropUse{
    width: 100%;
}

.teardrop img{
    width: 200px;
}

.socialMediaProp{
    display: inline-block;
}
.socialMediaProp img{
    width: 300px;
}

.bottleLabel img{
    width: 300px;
}

.merch{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}
.merch img{
    width: 200px;
}
@media screen and (max-width: 768px)
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1){
    .merch{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .merch{
        width: 100%;
    }
}
/*  */


/* otis */
.poster{
    display: flex;
    align-items: center;
    gap: 20px;
}
.imgBefore img{
    width: 200px;
}
.imgAfter img{
    width: 200px;
}

/* .albumCover{} */
.rawImgs img{
    width: 200px;
}
.coverDesign img{
    width: 300px;
    padding-right: 20px;
}

.brandDesigns img{
    width: 200px;
}
.brandedMerch img{
    width: 200px;
}
.brandedMerch{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}
/*  */

/* ndovu ventures */
.ndovuLogoDesign img{
    width: 300px;
}
.ndovuBusinessCard img{
    width: 300px;
}
/*  */

/* dossy */
.dossyLogo img{
    width: 200px;
}
.dossyBrand img{
    width: 200px;
}
.logoMerch{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}
.logoMerch img{
    width: 200px;
}
.IYKYKmerch img{
    width: 200px;
}
/*  */

/* fyne */
.fyneLogo img{
    width: 300px;
}
/*  */

/* handas */
.handasMixtape img{
    width: 300px;
}
.handasMixtapeVideo video{
    width: 300px;
}
/*  */

/* research writers */
.screenshots img{
    width: 300px;
}
.desktopView img, .tabletView img{
    width: 300px;
}
.mobileView img{
    width: 200px;
}
/*  */

/* actimation */
.simpleAnimations video{
    width: 300px;
}
/*  */

/* back street */
.bar_n_resortLogo img{
    width: 250px;
}
.gifLogoAnimation img{
    width: 220px;
}
/*  */


/*  */
@media screen
  and (max-width: 480px)
  and (orientation: portrait){
    .poster{
        flex-direction: column;
    }

    .coverDesign img{
        padding: 0;
        padding-top: 20px;
    }

    .brandedMerch{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .brandedMerch img{
        width: 150px;
    }

    /* dossy */
    .logoMerch{
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .logoMerch img{
        width: 180px;
    }
    /*  */
  }
/*  */