@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,7000,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    /* background: #000; */
    /* min-height: 200vh; */
}

:root{
--primary-blue: #2c9dd6;
--black: #000000;
--grey: #b2b2b2;
--light-grey: #ebebeb;
}

h2{
    color: #2c9dd6;
}

/* page content */
.content-section {
    position: relative;
    width: 100%;
    height: 100%;
}

section{
    padding: 20px 80px;
    text-align: center;
    scroll-margin-top: 100px;
}
/*  */



/* ---------------------------------------------------------------------------------- */



/* hero section */
.hero-section {
    /* background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)), url(/assets/images/heroImg-bg.png); */
    background-image: url(/assets/images/heroImg-bg.webp);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-section .header-text{
    width: 50%;
    height: 100%;
    padding: 0 100px;
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* background: red; */
}

.hero-section .header-text .maintext{
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 15px;
}

.hero-section .header-text .subtext{
    font-size: 1rem;
    padding-bottom: 15px;
}

.hero-section .header-text .call_action_btn{
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    border: 1px solid #2c9dd6;
    border-radius: 25px;
    padding: 10px 20px;
    background: #2c9dd6;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}
/*  */



/* ------------------------------------------------------------------------------ */



/* about section */
.about-section{
    width: 100%;
    /* text-align: center; */
    padding-bottom: 20px;
    background: #f4f4f4;
}
.about-section .about-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    position: relative;
}

.about-section .about-info .imgContainer, .about-section .about-info .textContainer{
    flex: 1;
}
.about-section .about-info .textContainer{
    text-align: start;
}
.about-section .about-info img{
    width: 100%;
    border-radius: 25px;
    position: relative ;
    z-index: 1;
}

.section-title .element-heading h2{
    padding-bottom: 0;
    margin-bottom: 0;
}

.section-title{ 
    display: inline-block;
}

.element-divider{
    padding-bottom: 20px;
}

.element-divider .divider{
    width: 100%;
    height: 5px;
    background: var(--primary-blue);
    padding: 0;
    margin: 0;
}
/*  */


/* --------------------------------------------------------------------------- */


/* projects section */
.projects-section{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    background: #e6f7ff;
}

.cards-section{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}

/* @media screen and (min-width: 1440px){
.cards-section > :nth-child(5n-1),
.cards-sectionr > :nth-child(5n) {
    grid-column: auto; 
}

.cards-section > :nth-child(5n-1):nth-last-child(2),
.cards-section > :nth-child(5n):nth-last-child(1) {
    grid-column: span 2; 
}
} */

.project-card {
    position: relative;
    width: 25rem;
    height: 250px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    /* padding: 20px; */
    text-align: center;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card .card-img, .project-card .card-body{
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.project-card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.project-card .cardOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.3 ease-in-out;
    z-index: 1;
}

.card-body{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
    text-align: center;
    padding: 10px;
    z-index: 2;
}

.card-body h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.project-tile{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body p {
    margin: 0;
    font-size: 1rem;
}

/* Hover effect */
.project-card:hover .card-img img {
    transform: scale(1);
}

.project-card:hover .cardOverlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.sort-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.sort-section select{
    padding: 0 10px;
    /* height: 30px; */
    border-radius: 5px;
}
/*  */



/* ---------------------------------------------------------------------------- */



/* contact us section */
.contact-us-section{
    background: #f4f4f4;
    text-align: center;
}

.contact-info{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.info, .contact-form{
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info a{
    text-decoration: none;
    color: var(--black);
}

.info a:hover{
    color: var(--primary-blue);
}


.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.contact-form form{
    width: 80%;
}

.form-element{
    padding-bottom: 10px;
}

.submit-btn button{
    width: 30%;
    height: 40px;
    font-weight: 600;
    border: none;
    background: #008AC9;
    color: #fff;
}

.submit-btn button:hover{
    background: #01a8f6;
}

.mod1{
    background: var(--light-grey);
}

@media screen and (max-width: 786px){
    /* header{
        display: none;
    } */
    .hero-section .header-text{
        width: 80%;
    }
    section{
        padding: 20px 40px;
    }
    .project-card{
        width: 100%;
        margin: 0;
    }
    .cards-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* align-items: end; */
        /* justify-content: end; */
        /* align-content: end; */
        justify-items: center;
        margin: 0 auto;
    }

    .about-info{
        flex-direction: column;
    }
    
    .about-section .about-info .imgContainer{
        order: 1;
    }
    .about-section .about-info .textContainer{
        order: 0;
        text-align: center;
    }

    .textContainer .section-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sort-section{
        padding-bottom: 20px;
    }


}

@media screen and (max-width: 450px){
    .hero-section {
        /* background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)), url(/assets/images/heroImg-bg.png); */
        background-image: url(/assets/images/heroImg-bg-mbl.webp);
    }
    .hero-section .header-text{
        width: 100%;
    }
    .hero-section .header-text{
        padding: 0 50px;
    }
    .cards-section{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .proj{
        width: 100%;
        display: flex;
        padding: 10px 0;
    }
    .proj h4.h5{
        font-size: 1rem;
    }

    .contact-info{
        flex-direction: column;
    }

    .contact-info .info, .contact-info .contact-form{
        width: 100%;
        max-width: 100%;
        padding-bottom: 20px;
    }

    /* .sort-section{
        display: flex;
        flex-direction: column;
        align-items: end;
    } */
}
